@charset "UTF-8";
* {
  /* Reset */
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-image: url(../img/background-image.jpg);
  /* Imagen fondo */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  /* INDEX RESPONSIVE (desktop)*/
  /* Page SEDE */
  /* Page FUTBOL */
}

body .index__caratula {
  padding: 0 30px;
  margin-top: 150px;
  text-align: center;
  color: #fff;
}

body .index__caratula h1 {
  font-size: 50px;
  margin-bottom: 30px;
}

body .index__caratula span {
  color: #f80603;
}

body .index__caratula span:hover {
  /* Animación (Loren) */
  text-shadow: 0 0 10px #f80603, 0 0 40px #f80603, 0 0 80px #f80603;
  -webkit-transition: 1s;
  transition: 1s;
}

body .index__caratula h2 {
  font-size: 20px;
  font-weight: 650;
}

body .index__botones {
  /* Botones bajo título */
  text-align: center;
}

body .index__botones .index__boton {
  margin-right: 20px;
  padding: 10px 30px;
  background-color: #f80603;
  color: #fff;
  border-radius: 6px;
  text-decoration: none;
}

body .index__botones .index__boton:hover {
  background-color: #fff;
  color: #f80603;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body .index__botones .index__boton2 {
  margin-right: 0px;
  padding: 10px 30px;
  background-color: #fff;
  color: #f80603;
  border-radius: 6px;
  text-decoration: none;
}

body .index__botones .index__boton2:hover {
  background-color: #f80603;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media screen and (min-width: 768px) {
  body .index__caratula h2 {
    font-size: 35px;
    margin-top: 50px;
  }
  body .index__caratula h1 {
    font-size: 70px;
    margin-bottom: 30px;
    margin-top: 50px;
  }
  body .index__botones {
    margin-top: 100px;
  }
  body .footer {
    /* footer posicionamiento */
    width: 100%;
    position: relative;
    bottom: 0;
    font-size: 150%;
  }
}

body .sede__footer {
  width: 100%;
  position: relative;
  bottom: 0;
  font-size: 150%;
}

body .sede__encabezado {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px;
}

body .sede__encabezado h1 {
  padding-top: 10px;
  font-weight: 700;
  text-shadow: 0 0 60px #f80603;
  color: #f80603;
}

body .sede__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .sede__img img {
  width: 100%;
}

body .sede__descripcion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 30px;
  padding: 5px;
  color: whitesmoke;
  border: solid 2px whitesmoke;
}

body .sede__descripcion h2 {
  text-align: center;
}

body .sede__descripcion p {
  text-align: center;
}

body .sede__mapa {
  margin: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .sede__mapa iframe {
  width: 100%;
}

body .futbol__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

body .futbol__form form {
  padding: 10px;
  color: whitesmoke;
  border: 2px solid whitesmoke;
  margin: 10px;
}

body .futbol__form .futbol__form-img {
  padding: 10px;
  margin: 10px;
  border: 2px solid whitesmoke;
}

body .futbol__form .futbol__form-img img {
  width: 100%;
}

body .futbol__acordeon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .futbol__acordeon .accordion {
  width: 75%;
}

body .futbol__h1 {
  font-size: 60px;
  margin-bottom: 30px;
  margin-top: 30px;
  text-align: center;
  font-weight: 700;
  color: #fff;
}
/*# sourceMappingURL=style.css.map */