*{  /* Reset */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


body{
    
    background-image: url(../img/background-image.jpg); /* Imagen fondo */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;

    .index__caratula{
        padding: 0 30px;
        margin-top: 150px;
        text-align: center;
        color: #fff;
        h1{
            font-size: 50px;
            margin-bottom: 30px;
        }
        span{
            color: rgb(248, 6, 3);
        }
        span:hover{ /* Animación (Loren) */
            text-shadow: 0 0 10px rgb(248, 6, 3),
            0 0 40px rgb(248, 6, 3),
            0 0 80px rgb(248, 6, 3);
            transition: 1s;
        }
        h2{
            font-size: 20px;
            font-weight: 650;
        }
    }

    .index__botones{ /* Botones bajo título */
        text-align: center;
        .index__boton{
            margin-right: 20px;
            padding: 10px 30px;
            background-color: rgb(248, 6, 3);
            color: #fff;
            border-radius: 6px;
            text-decoration: none;
            
        }
        .index__boton:hover{
            background-color: #fff;
            color: rgb(248, 6, 3);
            transition: 0.5s;
        }
        .index__boton2{
            margin-right: 0px;
            padding: 10px 30px;
            background-color: #fff;
            color: rgb(248, 6, 3);
            border-radius: 6px;
            text-decoration: none;
            
        }
        .index__boton2:hover{
            background-color: rgb(248, 6, 3);
            color: #fff;
            transition: 0.5s;
        }
    }

    
    
    

    /* INDEX RESPONSIVE (desktop)*/

    @media screen and (min-width: 768px){
       .index__caratula{
            h2{
                font-size: 35px;
                margin-top: 50px;

            }
            h1{
                font-size: 70px;
                margin-bottom: 30px;
                margin-top: 50px;
            }
       }

       .index__botones{
            margin-top: 100px;
       }

       .footer{ /* footer posicionamiento */
            
            width: 100%;
            position: relative;
            bottom: 0;
            font-size: 150%;
        }
    }

    /* Page SEDE */

    .sede__footer{
        width: 100%;
        position: relative;
        bottom: 0;
        font-size: 150%;
    }
    .sede__encabezado{
        display: flex;
        justify-content: center;
        margin: 30px;
        h1{
            padding-top: 10px;
            font-weight: 700;
            text-shadow: 0 0 60px rgb(248, 6, 3);
            color: rgb(248, 6, 3);
        }
    }
    .sede__img{
            display: flex;
            justify-content: center;
            
            img{
                width: 100%;
            }
    }

    .sede__descripcion{
        display: flex;
        flex-direction: column;
        margin: 30px;
        padding: 5px;
        color: whitesmoke;
        border: solid 2px whitesmoke;
       h2{
        text-align: center;
       }
       p{
        text-align: center;
       }
    }

    .sede__mapa{
        margin: 30px;
        display: flex;
        justify-content: center;
        iframe{
            width: 100%;
        }
    }

    /* Page FUTBOL */

    .futbol__form{
        display: flex;
        flex-wrap: wrap;
        margin: 30px;
        justify-content: center;
        align-content: center;
        form{
            width: 80%;
            padding: 30px;
            color: whitesmoke;
            border-radius: 4px;
            border: 2px solid whitesmoke;
            background: #24303c;
            margin: auto;
            margin-top: 50px;
            

            h4{
                text-align: center;
                margin-bottom: 30px;
                font-family: 'calibri';
            }
            .form_input{
                width: 100%;
                padding: 10px;
                border-radius: 4px;
                font-family: 'calibri'; 
                margin-bottom: 14px;
                background: #24303c;
                border: 1px solid #1f53c5;
                text-align: center;
            }
            .form_input-btn{
                width: 100%;
            }
            
        }
        .futbol__form-img{
            display: flex;
            background: #24303c;
            width: 80%;
            padding: 10px;
            margin: 10px;
            border-radius: 4px;
            border: 2px solid whitesmoke;
            justify-content: center;
            img{
                width: 50%;
                
            }
        }
    }

    .futbol__acordeon{
        display: flex;
        justify-content: center;
        .accordion{
            width: 75%;
        }
    }

    .futbol__h1{
        font-size: 60px;
        margin-bottom: 30px;
        margin-top: 50px;
        text-align: center;
        font-weight: 700;
        color: rgb(248, 6, 3);
    }

    .futbol__h1:hover{
        text-shadow: 0 0 10px rgb(248, 6, 3),
            0 0 40px rgb(248, 6, 3),
            0 0 80px rgb(248, 6, 3);
            transition: 1s;
    }

  

    /* Page GIM */

    .gim__main{
        
        display: grid;
        gap: 10px;
        grid-template-areas: 
        "titulo titulo titulo"
        "horarios horarios horarios"
        "ficha ficha ficha"
        "card card card";
        justify-content: center;
        align-content: center;
        .gim__h1{
            
            grid-area: titulo;
            color: rgb(248, 6, 3);
            text-align: center;
            margin-top: 10px;
            padding: 5px;
            h1{
                font-size: 60px;
                font-weight: 700;
            }
        }
        .gim__h1:hover{
            text-shadow: 0 0 10px rgb(248, 6, 3),
            0 0 40px rgb(248, 6, 3),
            0 0 80px rgb(248, 6, 3);
            transition: 1s;
        }
        .gim__tabla{
            grid-area: horarios;
            width: 75%;
            text-align: center;
            color: whitesmoke;
            justify-self: center;
            border: 2px solid white;
            tr{
                background-color: #24303c;
                border: 1px solid #1f53c5;
                padding: 10px;
                margin: 10px;
            }
            td{
                font-family: 'calibri';
                
            }
        }
            
        .gim__ficha{
            grid-area: ficha;
            justify-content: center;
            justify-self: center;
            width: 75%;
            background-color: #24303c;
            border: 2px solid white;
            h2{
                color: whitesmoke;
                margin-top: 5px;
                text-align: center;
                font-family: 'calibri';
            }
            form{
                color: whitesmoke;
                margin-bottom: 10px;
                padding: 10px;
                .form__fila{
                    margin-bottom: 10px;
                    padding: 5px;
                    background-color: #24303c;
                    text-align: center;
                    font-family: 'calibri';
                    color: grey;
                    label{
                        font-family: 'calibri';
                    }
                    input{
                        border: 1px solid #1f53c5;
                        border-radius: 4px;
                        background-color: #24303c;
                        width: 100%;
                        text-align: center;
                        font-family: 'calibri';
                    }
                }
                .form__enviar{
                    color: black;
                    font-family: 'calibri';
                    width: 100%;
                }
            }
        }
        .gim__cards{
            grid-area: card;
            justify-self: center;
            .card{
                margin-top: 10px;
            }
        }
            

    }

    /* RESPONSIVE GIM */

    @media screen and (min-width: 768px){
        .gim__main{
            display: grid;
            gap: 10px;
            grid-template-areas: 
            "titulo titulo titulo"
            "horarios ficha ficha"
            "horarios ficha ficha"
            "card card card";
            .gim__h1{
                grid-area: titulo;
                color: rgb(248, 6, 3);
            }
            .gim__tabla{
                grid-area: horarios;
            }
            .gim__ficha{
                grid-area: ficha;
            }
            .gim__cards{
                grid-area: card;
                display: flex;
                gap: 3px;
            }
        }
    }

    /* page TENIS */

    
    
    .tenis__h1{
        
        margin-bottom: 30px;
        margin-top: 30px;
        text-align: center;
        color: rgb(248, 6, 3);
        h1{
            font-size: 60px;
            font-weight: 700;
        }
    }


    .tenis__h1:hover{
        text-shadow: 0 0 10px rgb(248, 6, 3),
            0 0 40px rgb(248, 6, 3),
            0 0 80px rgb(248, 6, 3);
        transition: 1s;
    }

    .tenis__carrusel{
        display: flex;
        justify-content: center;
        .carousel{
            width: 50%;
        }
    }

    .tenis__form{
        margin-top: 30px;
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
        form{
            width: 50%;
            border: 2px solid whitesmoke;
            background-color: #24303c;
            h2{
                color: whitesmoke;
                margin-top: 5px;
                text-align: center;
                font-family: 'calibri';
            }
            .form__fila{
                margin-bottom: 10px;
                padding: 5px;
                background-color: #24303c;
                text-align: center;
                font-family: 'calibri';
                color: grey;
                label{
                    font-family: 'calibri';
                }
                input{
                    border: 1px solid #1f53c5;
                    border-radius: 4px;
                    background-color: #24303c;
                    width: 100%;
                    text-align: center;
                    font-family: 'calibri';
                }
            }
            .form__enviar{
                color: black;
                font-family: 'calibri';
                width: 100%;
            }
        }
    }

    /* page STORE */

    .store__h1{
        margin-bottom: 30px;
        margin-top: 30px;
        text-align: center;
        color: rgb(248, 6, 3);
        h1{
            font-size: 60px;
            font-weight: 700;
        }
    }
        
    .store__h1:hover{
        text-shadow: 0 0 10px rgb(248, 6, 3),
        0 0 40px rgb(248, 6, 3),
        0 0 80px rgb(248, 6, 3);
        transition: 1s;
    }

    .store__vid{
        display: flex;
        justify-content: center;
    }

    .store__cards{
        margin: 30px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        justify-content: space-between;
    }
        
        
        




        
            
            
        

        
            
}
        
        





        
       


       

      

         

    

        
        
        

    
    
