html{
    background-color: black;
}

main{
    background-color: black;
    color: antiquewhite;
    margin-bottom: 10px;
}

h1{
    background-color: black;
    color: antiquewhite;
    text-align: center;

}

header{
    height: 32rem;
}

.fondoHeader{
    width: 100%;
    height: 100%;
}



.error{
    background-color: red;
    color: white;
    font-size: larger;
    text-align: center;

}

